<p id="notice"><%= notice %></p>

<p>
  <strong>Book no:</strong>
  <%= @book.book_no %>
</p>

<p>
  <strong>Book name:</strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>Book chapters:</strong>
  <%= @book.book_chapters %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
