<div class="page-header">
  <h1>Your Bible Reading Progress</h1>
</div>


<%= link_to 'New User progress', new_user_progress_path %>

<% books = Book.where(nil).load %>
<%# chapters = Chapter.where(nil).load %>
<% chapters = Chapter.joins("LEFT JOIN 'user_progresses' ON user_progresses.chapter_id = chapters.id AND user_progresses.user_id = #{current_user.id}").select("chapters.*, user_progresses.chapter_id, user_progresses.user_id, user_progresses.last_read").load %>

<% oldbook = books.select { |book| book.book_no <= 39 } %>
<% newbook = books.select { |book| book.book_no >= 40 } %>

<!-- Quick Links -->
<ul id="myTab" class="nav nav-tabs">
  <li><a href="#Old" data-toggle="tab">Old Testament</a></li>
  <li class="active"><a href="#New" data-toggle="tab">New Testament</a></li>
</ul>
<br>


<div id="myTabContent" class="tab-content">
  <!-- Old Testament -->
  <div class="tab-pane fade" id="Old">
    <ul class="book-links">
      <% oldbook.each do |book| %>
        <li><a href="#<%= book.book_name.gsub(/\s+/, "") %>"><%= book.book_name %></a></li>
      <% end %>
    </ul>

  </div>
  <!-- New Testament -->
    <div class="tab-pane fade active in" id="New">
    <ul class="book-links">
      <% newbook.each do |book| %>
        <li><a href="#<%= book.book_name.gsub(/\s+/, "") %>"><%= book.book_name %></a></li>
      <% end %>
    </ul>

  </div>

</div><!-- /myTabContent -->

<!-- Start Books -->

<% user_progresses = UserProgress.where(user_id: current_user.id) %>


<% books.each do |book| %>
  <div class="page-header">
    <h1 id="<%= book.book_name.gsub(/\s+/, "") %>"><%= book.book_name %></h1>
    <a href="#Top">Top</a>
  </div>
  <div class="row">
    <div class="col-md-12">

      <% current_chapter = chapters.select { |chapter| chapter.book_no == book.book_no } %>

      <% current_chapter.each do |chapter| %>

        <% if chapter.last_read != nil %> 
                      <% vartime = ( (chapter.last_read).to_time - Time.now ).to_i / 1.day %>
                    <% elsif %>
                      <% vartime = 1 %>
                    <%end %>
                    <% if vartime == 1 %> 
                      <span class="progress-default"><%= link_to content_tag(:span, chapter.chapter_no), chapter_path(chapter.id) %></span>
                    <% elsif vartime >= -365 %>
                      <span class="progress-green"><%= link_to content_tag(:span, chapter.chapter_no), chapter_path(chapter.id) %></span>
                    <% elsif vartime >= -730 %>
                      <span class="progress-yellow"><%= link_to content_tag(:span, chapter.chapter_no), chapter_path(chapter.id) %></span>         
                    <% elsif vartime >= -1095 %>
                      <span class="progress-orange"><%= link_to content_tag(:span, chapter.chapter_no), chapter_path(chapter.id) %></span> 
                    <% elsif vartime <= -1096 %> 
                      <span class="progress-red"><%= link_to content_tag(:span, chapter.chapter_no), chapter_path(chapter.id) %></span>
                    <% end %>
        
      <% end %> 
    </div>
  </div>
<% end %>