<h1>Listing user_progresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book no</th>
      <th>Chapter no</th>
      <th>Last read</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_progresses.each do |user_progress| %>
      <tr>
        <td><%= user_progress.user_id %></td>
        <td><%= user_progress.book_no %></td>
        <td><%= user_progress.chapter_no %></td>
        <td><%= user_progress.last_read %></td>
        <td><%= link_to 'Show', user_progress %></td>
        <td><%= link_to 'Edit', edit_user_progress_path(user_progress) %></td>
        <td><%= link_to 'Destroy', user_progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New User progress', new_user_progress_path %>

<div class="page-header">
  <h3>Matthew</h3>
</div>
<div class="row">
  <div class="col-md-12">

    <% @user_progresses.each do |user_progress| %>
    <span class="<%= "progress-green" if user_progress.last_read <= Time.now
        %>"><%= user_progress.chapter_no if user_progress.book_no = 40 %></span>

    <% end %>

  </div>
</div>

<div class="page-header">
  <h3>Matthew</h3>
</div>
<div class="row">
  <div class="col-md-12">

    <% @user_progresses.each do |user_progress| %>
    <% if defined?(user_progress.last_read) then vartime = (user_progress.last_read - Time.now).to_i / 1.day
      elsif vartime = 1
      end
    %>
    <span class="<%= if vartime == 1 then "progress-default"
                    elsif vartime >= -365 then "progress-green" 
                    elsif vartime >= -730 then "progress-yellow"
                    elsif vartime >= -1095 then "progress-orange"
                    elsif vartime <= -1096 then "progress-red"

                        
                    end %>"><%= user_progress.chapter_no if user_progress.book_no = 40 %></span>

    <% end %>

  </div>
</div>