<div class="row">
  <div class="col-md-4">
    <h1><%= @user_progress.book.book_name %></h1>

    <div class="progress-default show-page">
      <h1><span><%= @user_progress.chapter_no %><span></h1>
    </div>
  </div>
  <div class="col-md-4">
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<p>
  </div>
</div>

<%= form_for(@user_progress) do |f| %>
  <% if @user_progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_progress.errors.count, "error") %> prohibited this user_progress from being saved:</h2>

      <ul>
      <% @user_progress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :book_no %><br>
    <%= f.number_field :book_no %>
  </div>
  <div class="field">
    <%= f.label :chapter_no %><br>
    <%= f.number_field :chapter_no %>
  </div>
  <div class="field">
    <%= f.label :last_read %><br>
    <%= f.date_field :last_read %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>



<p>
  <strong>Last read:</strong>
  <%= @user_progress.last_read %>
</p>

<%= link_to 'Edit', edit_user_progress_path(@user_progress) %> |
<%= link_to 'Back', user_progresses_path %>


<div class="page-header">
      <h1>Reading Histroy</h1>
    </div>
<div class="row">
  <div class="col-md-12">
    <% UserProgress.where(user_id: current_user.id).where(book_no: @user_progress.book_no).where(chapter_no: @user_progress.chapter_no).each do |user_progress| %>
     <%= user_progress.last_read %>
     <% end %>
  </div>
</div>